@media (max-width: 1700px) {
    .about-main .about-main__content {
        width: 400px;
    }
    .news-main .news-main__active-image,
    .news-main .news-swiper {
        width: 880px;
        height: 508px;
        top: 210px;
    }
}

@media (max-width: 768px) {
    .taxi-main {
        background-position: center top 0 !important;
        height: 890px;
    }
    .taxi-main h1 {
        display: none !important;
    }
    .taxi-main .taxi__triangle {
        bottom: -3px;
    }
    .social-networks {
        margin-top: 40px;
    }
    .voting-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-main h1 {
        transform: translate(-50%, -50%);
        font-size: 7.5rem;
    }
    .about-project__title {
        top: 39%;
    }
    .about-project__time {
        top: 61%;
    }
    .about-project__hosts {
        top: 75%;
    }
    .bill__text a {
        font-size: 3rem;
    }
    .program-main h2 {
        display: none;
    }
}

@media (max-width: 1400px) {
    .gallery-main h1 {
        font-size: 13.5rem;
    }
}

@media (max-width: 400px) {
    .voting-wrapper {
        grid-template-columns: 1fr;
    }
    .voting-wrapper>div:last-of-type,
    .voting-wrapper>div:first-of-type {
        display: none;
    }
}

@media (max-width: 991px) {
    .newspaper {
        margin-top: 390px;
    }
}

@media all and (max-width: 1280px) {
    body .timeline h2 {
        position: absolute;
        top: -70px;
        left: 50px;
        visibility: visible;
    }
    body .about-facts {
        max-width: 470px;
    }
}

.news-swiper .swiper-container {
    height: 100%;
}

.tv-news {
    height: 100%;
}

.navbar.open {
    height: 100vh;
}

@media all and (min-width: 1601px) and (max-width: 1920px) {
    .news-main h1,
    .news-main h3 {
        margin-bottom: 90px;
        margin-right: 170px;
        font-size: 140px;
    }
}

@media (min-width: 1440px) {
    .about-project-description {
        margin-bottom: 150px;
    }
}

@media (min-width: 1600px) {
    .about-project__title {
        top: 15%;
    }
}

@media (min-width: 1700px) {
    .tv-news {
        height: 648px;
    }
}

.casting-form__inputs select {
    margin: 0 auto 20px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #fff;
    width: 500px;
    height: 4rem;
    line-height: 3rem;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.5rem;
}

.casting-form__inputs select:focus {
    color: black;
}

.casting-form [type="submit"] {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.bill__pricelist {
    all: unset;
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: -3px;
    bottom: 100%;
}

.bill__pricelist>a {
    font-size: 1.5rem;
}

.logo-wrapper {
    z-index: 1;
}

.logo-wrapper a {
    display: block;
    z-index: 1;
}

.social-networks .social-networks__social-icons .row>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-networks .social-networks__social-icons .row>div>li {
    margin: 0;
}

.projects-page h1 {
    font-size: 230px;
    text-align: center;
    margin-top: 50px;
}

@media all and (min-width: 1600px) {
    .container {
        max-width: 80%;
    }
    .navbar-menu li a,
    .program-tab li a,
    .tv-shows-slide__text,
    .bill__text h3,
    .tv-shows-slide__slogan,
    .tv-shows-slide__link,
    header .social-icons-wrapper strong {
        font-size: 24px;
    }
    .gallery .gallery-item__image {
        width: 100%;
        object-fit: cover;
        height: 550px;
    }
    .ballot {
        height: 47vw;
    }
    header .social-icons li a {
        width: 60px;
        height: 60px;
    }
    header .social-icons li a .fab,
    .lang-search-wrap .search .fa-search {
        font-size: 30px;
    }
    .change-lang .change-lang__item a {
        font-size: 29px;
    }
    .tv-shows-slide__img {
        max-height: inherit;
    }
    body .news-main .news-swiper,
    body .news-main .news-main__active-image {
        left: 50.1vw;
        top: 259px;
        height: 648px;
        width: 1124px;
    }
    body .news-main .news-main__active-image {
        left: 49.6vw;
        top: 13.8vw;
        height: 34.8vw;
        width: 60vw;
    }
}

@media all and (max-width: 1450px) and (min-width: 1401px) {
    body .news-main .news-main__active-image {
        left: 49.6vw;
    }
}

@media all and (max-width: 1400px) and (min-width: 1380px) {
    body .news-main .news-main__active-image {
        left: 49.7vw;
        top: 271px;
        height: 688px;
        width: 1194px;
    }
}

@media all and (min-width: 1800px) {
    .news-page {
        background-size: cover;
    }
    body .gallery {
        padding-top: 110px;
    }
    body .about-facts {
        position: relative;
        z-index: 2;
    }
    body .taxi-main {
        background-size: cover;
    }
    body .about-project__image {
        position: relative;
    }
    body .gallery-unit--big .gallery-unit__description {
        width: 50%;
        padding-left: 20%;
    }
    body .news-main .news-swiper,
    body .news-main .news-main__active-image {
        left: 49.5vw;
        top: 300px;
        width: 1620px;
        height: 42.8vw;
        border: 3px solid #0a0d10;
        padding: 3px;
    }
    body .news-main .news-swiper:before,
    body .news-main .news-main__active-image:before {
        position: absolute;
        content: '';
        top: -3px;
        right: -3px;
        left: -3px;
        bottom: -3px;
        border: 6px solid #5f5c5f;
    }
    .news-main h1 {
        max-width: 1172px;
        margin-left: auto;
        margin-right: 290px;
    }
}

@media all and (min-width: 2560px) {
    body .news-main .news-swiper,
    body .news-main .news-main__active-image {
        width: 1690px;
        height: 38.8vw;
    }
}

@media all and (min-width: 1800px) and (max-width: 2320px) {
    body .news-main .news-swiper,
    body .news-main .news-main__active-image {
        top: 250px;
    }
}

@media all and (max-width: 1920px) {
    .tv-shows-slide .dark-rectangle {
        top: 54vw;
    }
}

@media all and (max-width: 1440px) {
    body .projects-page h1 {
        font-size: 7.5rem;
        margin-bottom: 0;
    }
}

@media all and (max-width: 768px) {
    body .tv-shows-slide__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 0 0 20px;
        padding: 0 30px;
        box-sizing: border-box;
    }
    body .navbar-bg-news .container .navbar-menu {
        padding: 20px 20px 0px;
        align-items: center;
    }
    body .about-letter-section {
        margin-top: 220px;
    }
    body .gallery-main {
        height: auto;
        min-height: 400px;
    }
    body .gallery-main h1 {
        font-size: 65px;
    }
    body .about-project__title {
        top: 0;
    }
    body .about-project-description {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }
    body .about-facts {
        max-width: 100%;
        margin-top: 705px;
    }
    body .news-main h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    body .taxi-main .taxi__triangle {
        display: none;
    }
}

@media all and (max-width: 767px) {
    body .navbar-bg-news .container .navbar-menu {
        background: none;
    }
    body .about-project__title {
        top: -50px;
    }
}

@media all and (max-width: 630px) {
    body .news-main .news-main__active-image,
    body .news-main .news-swiper {
        top: -14vw;
    }
    body .taxi-main {
        background-size: cover;
    }
}

.navbar-menu__item {
    text-align: center !important;
}

/*временные стили*/

@media all and (min-width: 769px) {
    body .gallery-unit--right-to-left,
    body .gallery-unit--left-to-right {
        display: flex;
        width: 100%;
        margin: 0;
    }
    body .gallery-unit--right-to-left>a,
    body .gallery-unit--left-to-right>a,
    body .gallery-unit--right-to-left>div,
    body .gallery-unit--left-to-right>div {
        width: 100%;
        max-width: 50%;
        box-sizing: border-box;
    }
    .gallery-unit--big .gallery-unit__description {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}